---
name: test
on: push
jobs:
  rspec:
    name: "${{ matrix.ruby }} / ${{ matrix.adapter }}"
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.2"
          - "3.1"
          - "3.0"
          - "2.7"
          - "2.6"
          - "2.5"
        adapter:
          - em
          - em-pooled
          - typhoeus
          - typhoeus-sync
        exclude:
          - ruby: "3.2"
            adapter: em
          - ruby: "3.2"
            adapter: em-pooled
          - ruby: "3.1"
            adapter: em
          - ruby: "3.1"
            adapter: em-pooled
          - ruby: "3.0"
            adapter: em
          - ruby: "3.0"
            adapter: em-pooled

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
        env:
          BUNDLE_WITHOUT: development
          BUNDLE_JOBS: 4
          BUNDLE_RETRY: 3

      - run: bundle exec rspec --color

  rubocop:
    name: rubocop
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
        env:
          BUNDLE_WITHOUT: development
          BUNDLE_JOBS: 4
          BUNDLE_RETRY: 3

      - run: bundle exec rubocop --parallel --fail-level E
